html {
  font-family: system-ui, sans-serif;
  font-size: 1.25rem;
  width: 100%;
  height: calc(100% - 50px);
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.container-fluid {
  margin-top: 50px;
}

* {
  outline: none !important;
}

.controls {
  position: absolute;
  left: 0px;
  top:48px;
  background: #eeee;
  padding: 10px;
  border-bottom-right-radius: 5px;
  width: 260px;
  z-index: 999;
  box-shadow: 0px 0px 10px #333;
  overflow: scroll;
  max-height: 500px;
}

@media only screen and (max-height: 500px) {
  .controls {
    overflow: scroll;
    height: 200px;
  }
}

.navbar {
  /*box-shadow: 0px 0px 10px #333;*/
  border-bottom: 1px solid #e0e0e0;
}

.controls.minimized {
  width: 45px;
  height: 24px;
  border-bottom-right-radius: 5px;
  z-index: 999;
  text-align: center;
}

.controls.minimized .btn-collapse{
  top: 4px;
  left: 6px;
  padding: 3px;
}

.timeline {
  position: absolute;
  top: 0px;
  left: 0px;
  background: #eeee;
  padding: 4px;
  padding-top: 6px;
  padding-right: 10px;
  border-bottom-right-radius: 5px;
  z-index: 1000;
  box-shadow: 0px 0px 5px #333;
}

.showInMomentum {
  display: none;
}

.btn-collapse {
  position: absolute;
  right: 10px;
  top: 12px;
  font-size: 10px !important;
  line-height: 12px !important;
  height: 12px !important;
  outline: none !important;
  cursor: pointer;
  color: #337ab7 !important;
  background: none;
  border: none;
}

.btn-collapse:hover {
  color: #000 !important;
}

.leftTime, .midTime, .todayTime, .play, .stop, .pause {
  margin-left: 5px;
}

#leaflet-map, .leaflet-container {
  width: 100%!important;
  height: 100%!important;
}

.credits {
  margin-top: 10px;
  text-align: right;
}

.credits .badge {
  font-size: 10px;
  font-weight: 300 !important;
}

.stayAtHomeScore {
  margin-top:3px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: white;
  color: #999;
  border: 1px solid #999;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  margin-right: 5px;
  margin-bottom: 5px;
}

.stayAtHomeScore0 {
  background: #a50026;
  border: none;
  color: white;
}

.stayAtHomeScore1 {
  background: #d73027;
  border: none;
  color: white;
}

.stayAtHomeScore2 {
  background: #f46d43;
  border: none;
  color: white;
}

.stayAtHomeScore3 {
  background: #fdae61;
  color: black;
  border: none;
}

.stayAtHomeScore4 {
  background: #fee08b;
  color: black;
  border: none;
}

.stayAtHomeScore5 {
  background: #ffffbf;
  color: black;
  border: none;
}

.stayAtHomeScore6 {
  background: #d9ef8b;
  color: black;
  border: none;
}

.stayAtHomeScore7 {
  background: #a6d96a;
  color: black;
  border: none;
}

.stayAtHomeScore8 {
  background: #66bd63;
  color: white;
  border: none;
}

.stayAtHomeScore9 {
  background: #1a9850;
  color: white;
  border: none;
}

.stayAtHomeScore10 {
  background: #006837;
  color: white;
  border: none;
}

.stayAtHomeScoreLabel {
  font-size: 10px;
  margin-top: 3px;
  text-align: justify;
  max-width: 300px;
  heigth: 30px;
  padding: 3px;
}

.stayAtHomeAdvice {
  font-size: 11px;
  font-weight: bold;
}


.slider-horizontal {
  margin-left: 4px;
}

.slider-tick-label {
  font-size: 12px;
}

.tiny {
  float: left;
  font-size: 10px !important;
  line-height: 12px !important;
  height: auto !important;
}
